@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
    margin: 0;
    padding: 0;
    font-family: "Nanum Gothic", sans-serif;
    background: #6f7a85;
    color: white;
    height: 100vh;
    display: flex;
}

.box ,#lform{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
}

.box h1,#lform{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

#log{
    /*width: 450px;*/
    padding: 5px 10px 5px 10px;
    position: absolute;
    top: 20px;
    left: 220px;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
#logs{
    background: #fff;
    color: black;
}

.box input[type = "text"], .box input[type = "password"],#ver {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus,#ver:focus {
    width: 280px;
    border-color: #2ecc71;
}

.box input[type = "button"],#launch,#logout,#vanilla,#modpack,#mplist,#debug {
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="button"] {
    display: block;
}

.box a {
    text-decoration: none;
    color: aqua;
}
.box a:hover {
    text-decoration: underline;
}

.box input[type = "button"]:hover,#launch:hover,#logout:hover {
    background: #2ecc71;
}

.loading{
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #e74c3c;
  position: relative;
  animation: a1 2s linear infinite;
}

.loading::before,.loading::after{
  content: '';
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: -10px;
  box-sizing: border-box;
  border-radius: 50%;
}

.loading::before{
  border-top: 10px solid #e67e22;
  transform: rotate(120deg);
}

.loading::after{
  border-top: 10px solid #3498db;
  transform: rotate(240deg);
}

.loading span{
  position: absolute;
  width: 200px;
  height: 200px;
  color: #fff;
  text-align: center;
  line-height: 200px;
  animation: a2 2s linear infinite;
}

@keyframes a1 {
  to{
    transform: rotate(360deg);
  }
}

@keyframes a2 {
  to{
    transform: rotate(-360deg);
  }
}
